<h3>{{viewTitle}}</h3>

<form action="/employee" method="POST" autocomplete="off"  enctype="multipart/form-data">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="{{employee.fullName}}">
        <div class="text-danger">
            {{employee.fullNameError}}</div>
    </div>
    <div class="form-group">
        <label>image</label>
        <input type="file" class="form-control" name="file" accept="image/*"/>
        <div class="text-danger">
            {{employee.fileError}}</div>
    </div>
   
     <div class="form-group">
        <label>Summary</label>
        <input type="text" class="form-control" name="summary" placeholder="Summary" value="{{employee.summary}}">
        <div class="text-danger">
            {{employee.summaryError}}</div>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>